@model MiIngresoHitss.Models.Product

@{
    ViewData["Title"] = "Editar producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="input-group mb-3">
                <input asp-for="Producto" maxlength="150" class="form-control" placeholder="Nombre del producto"/>
                <span asp-validation-for="Producto" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <input asp-for="Descripcion" maxlength="500" class="form-control" placeholder="Descripción del producto" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">            
                <span class="input-group-text">$</span>
                <input asp-for="Valor" class="form-control" placeholder="Valor del producto"/>
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-outline-success">Guardar Cambios</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
